/* add custom styles */
/*.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }*/
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
/*.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }*/

md-sidenav,
.md-locked-open,
.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 35vw !important;
    max-width: 800px !important;
}

body {
    font-family: 'Rubik', sans-serif;
    color: black;
}

a {
  text-decoration: none;
  color : black;
}

a:hover {
  color: white;
}

button {
  color :black;
}

.md-button {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color:black;
}

.study-up{
  background-image: url('https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&fm=jpg&s=88871674ce3ce449062b3a16c0be6c66');
  background-size: cover;
}

.playlist{
  background-image: url('../images/Project-playlist.png');
  background-size: cover;
  background-position: center;
}

.info {
  padding: 10px;
/*  border-top: black solid 1px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;*/
  text-align: center;
}

.gentleman {
  background-image: url('../images/gentleman.png');
  background-size: cover;
}

