<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

  <div ng-controller="AppCtrl" ng-cloak class = 'container'>

    <md-grid-list

    md-cols-md="2"
    md-cols-gt-md="6"
    md-row-height-gt-md="2:2"
    md-row-height="1:1"
    md-gutter="12px"
    md-gutter-gt-sm="12px" >

      <md-grid-tile class="study-up" md-rowspan="3" md-colspan="2" md-colspan-sm="1">

        <div class = "study-up-info" ng-show="showInfoStudyUp">
          <h3>Study Up Coding is an application built to help users save tutorials they have found online. Includes authentication using passport. Built with Angular, Node and Express. Also uses Skeleton as a front-end framework in place of Bootstrap. I made use of nested schemas in mongo to help develop a relational database. I used Mocha/Chai tests to make ensure my routes were working properly with my database before starting on the front end.</h3>
        </div>

        <md-grid-tile-footer>
         <md-button ng-click = "showInfoStudyUpFunc()">
          <i class="fa fa-info-circle"></i>
          </md-button>
          <md-button><a href = "http://studyupcoding.herokuapp.com/" target = '_blank'>Study Up Coding</a></md-button>
        </md-grid-tile-footer>

      </md-grid-tile>



      <md-grid-tile class="green" md-rowspan = "2" >
        <div class = "info">
          <p>Study Up Coding is an application built to help users save tutorials they have found online. Includes authentication using passport. Built with Angular, Node and Express. Also uses Skeleton as a front-end framework in place of Bootstrap. I made use of nested schemas in mongo to help develop a relational database. I used Mocha/Chai tests to make ensure my routes were working properly with my database before starting on the front end.</p>
        </div>

      </md-grid-tile>

      <md-grid-tile class="blue">
         <div>
          <md-button ng-click="toggleRight()"
          ng-hide="isOpenRight()">
          More About Me
          </md-button>
        </div>
      </md-grid-tile>

      <md-grid-tile class="playlist" md-rowspan="2" md-colspan = "2">
        <md-grid-tile-footer>
          <md-button><a href = "http://bbouley.github.io/playlist-project-iteration3/" target = '_blank'>Play This</a></md-button>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="gentleman">

      </md-grid-tile>

      <md-grid-tile class="red" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
          <h1>Projects</h1>
      </md-grid-tile>

      <md-grid-tile class="yellow" md-rowspan="1" md-colspan = "2" >
          <div class= "info">
            <p>My first project. Built using Jquery and vanilla Javascript. It is mainly a front-end project, however I used firebase to set up a database that I could write to. It uses jquery and DOM manipulation to dynamically add div sections to the page and update as the user inputs new songs into their playlist. </p>
          </div>
      </md-grid-tile>

      <md-grid-tile class = "blue" md-colspan = "3" md-rowspan = "2">
      </md-grid-tile>

    </md-grid-list>

  </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" layout="column" layout-align="start center">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Bradley James Bouley</h1>
    </md-toolbar>
    <h4 class = "md-toolbar-tools">Full Stack Web Developer</h4>
    <div class = 'about-me'>
      <p>I am a full stack web developer currently learning at Galvanize. I have recently moved over from London in order to learn more about web development and to start working in Denver.</p>
      <p>I have experience with Javascript and several frameworks and libraries around that including Jquery, Angular, Node.js, Express, and others. I am also well versed in using Bootstrap as well as other CSS libraries such as Skeleton.</p>
    </div>

      <div class = "links">
      <a href = "https://github.com/Bbouley/angular-project-studyTime" target = "_blank">
        <span class="fa fa-github-alt icon text-outline-title"></span>
      </a>
       <a href = 'https://www.linkedin.com/pub/bradley-bouley/b7/788/221' target = '_blank'>
             <span class="fa fa-linkedin-square icon-header text-outline-title"></span>
       </a>
        <a href = 'https://twitter.com/bradleythefirst' target = '_blank'>
         <span class="fa fa-twitter icon-header text-outline-title"></span>
       </a>
      </div>

      <md-content ng-controller="RightCtrl" layout-padding layout="column" layout-align="center center">
        <md-button ng-click="close()" class="md-primary">
        Back to the good stuff...
        </md-button>
      </md-content>

    </md-sidenav>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
